---
import Layout from '../layouts/Layout.astro';
import DataList from '../components/DataList.astro';
const tableName = import.meta.env.DB_TABLE_NAME;
---

<Layout title="Welcome to Astro.">
  <main>
    <DataList tableName={tableName} />
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    padding: 1rem;
    width: 920px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
